h1{
    color: red;
}
img {
    height: 92px;
}
a{
    text-decoration: none;
    color: black;
font-size: 13px;
font-family: Arial, sans-serif;
}
.apps{
    width: 24px;
    fill: dimgray;
    
}
.botao-login{
    background-color: dodgerblue;
    color: aliceblue;
    padding: 10px 30px;
    font-family: google sans,roboto,helvetica,arial,sans-serif;
    font-weight: 500;
    border-radius: 4px;
}
footer{ 
    background-color: aliceblue;

}
.caixa-rodape{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}
.caixa-rodape--borda{
    border-bottom: 1px solid aliceblue;
}
.caixa-links{
    display: flex;
    gap: 30px;
}